<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

      <h1 class="review_header">User Reviews:</h1>

    <% if !@review %>
      <h2 class="no_review_header">No reviews yet!</h2>
    <%end%>

     <% reviews = Review.where(product_id: @product.id) %>
        <% reviews.reverse.each do |review| %>

          <div class="well">
            <strong><%= review.user_email %>:</strong> <br>
            <strong><%= review.description %></strong> <br>
            <strong><%= review.rating %> / 5</strong>
            <% review.id %>
            <% if review.user_email == current_user.email %>
            <div class="review_delete">
            <%= button_to "delete", product_review_path(product_id: @product.id, id:review.id), :method => :delete %>
            </div>
            <%end%>
          </div>
        <% end %>



 <div class ="new_review">
    <%= form_for([@product, Review.new], :url => product_reviews_path(@product.id), :method => "post") do |f| %>
          <div class="form-group nrf">
          <strong>Write a new review</strong><br><br>
            <%= label :rating, "Rating:" %>
            <%= f.select :rating, [5, 4, 3, 2, 1] %>
          </div>
          <div class="form-group nrf">
            <%= label :description, "Description:" %> <br />
            <%= f.text_area :description, :value => ""%>
          </div>
          <div class="nrf">
            <%= f.submit "Create" %>
          </div>
        <% end %>

      </div>
  </div>
  </article>
</section>
